@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  /* CORES - Tons de Madeira Escura e Natureza */
  --cor-primaria: #281a1a; /* Marrom muito escuro, quase preto - Fundo Principal */
  --cor-secundaria: #4c3b2f; /* Marrom-café escuro - Cor de Superfícies/Containers */
  --cor-barra-pesquisa: #6f5844; /* Marrom médio amadeirado - Campos de Input */
  --cor-hover: #a0522d; /* Marrom Sela (Sienna) - Efeito de Foco/Hover */
  
  /* CORES DE FONTE E DESTAQUE */
  --cor-primaria-fonte: #f5e6cf; /* Creme/Bege Claro - Texto Principal (Alto Contraste) */
  --cor-secundaria-fonte: #c6a78d; /* Cobre/Bronze claro - Texto Secundário ou Placeholder */
  --cor-terciaria-fonte: #6b8e23; /* Verde Oliva Escuro - Destaques ou Botões de Ação */

  /* FONTES (Mantidas como no seu original) */
  --fonte-primaria: "Inter";
  --fonte-secundaria: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--fonte-primaria);
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--cor-primaria);
  color: var(--cor-primaria-fonte);
}

/* --- AJUSTE PARA O FOOTER --- */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}